.commentListWrapper {
  .addCommentContainer {
    margin: 20px 0;
    .addCommentButton {
      margin-top: 12px;
      text-align: right;
    }
  }
  .commentListHeader {
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #1d2129;
    margin-bottom: 8px;
  }
  .commentListPagination {
    padding-top: 12px;
    text-align: right;
  }
}
