.commentWrapper {
  padding: 12px 0;
  border-bottom: 1px solid #e5e6eb;
  .commentHead {
    span{
      vertical-align: top;
    }
    span:first-child {
      font-weight: 500;
      max-width: 90px;
      font-size: 14px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 20px;
    }
    span:last-child {
      font-size: 14px;
      color: #86909c;
      display: inline-block;
      padding-left: 20px;
      border-left: 2px solid #86909c;
    }
  }
  .commentContent {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    font-size: 14px;
    line-height: 22px;
    color: #4e5969;
    margin-top: 8px;
  }
  .commentOperation {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > div {
      line-height: 20px;
      font-size: 12px;
      color: #86909c;
      cursor: pointer;
      span:last-child {
        padding-left: 6px;
      }
    }
    & > div:first-child {
      margin-right: 16px;
    }
  }
  .newReplyContainer{
    background: #f7f8fa;
    padding: 12px;
    margin-top: 16px;
    margin-bottom: 8px;
    div{
      margin-top: 12px;
      text-align: right;
    }
  }
}
